@{
    ViewData["Title"] = "Редактировать сотрудника";
}
@model Electrociti.Models.Employee

<form asp-action="EditMasterAdmin" asp-controller="Home" method="post" class="form-container">
    <div >
        <div>
            <h1>Редактирование сотрудника</h1>
        </div>

        <div>
            <input type="file" id="eImgFile" accept="image/*" onchange="convertToBase64(this)">
            <input type="hidden" id="eImg" name="EmployeeImage" value="@Model.EmployeeImage" />
        </div>

        <div>
            <input type="text" id="eName" name="EmployeeName" placeholder="Имя сотрудника" value="@Model.EmployeeName" pattern="[A-Za-zА-Яа-яЁё]+" title="Введите только буквы" autocomplete="off" required min="1" minlenght="1" />
        </div>

        <div>
            <input type="text" id="eSecName" name="EmployeeSurname" placeholder="Фамилия сотрудника" value="@Model.EmployeeSurname" autocomplete="off" pattern="[A-Za-zА-Яа-яЁё]+" title="Введите только буквы" required min="1" minlenght="1" />
        </div>

        <div>
            <input type="text" id="ePatronomic" name="EmployeePatronomic" placeholder="Отчество сотрудника" value="@Model.EmployeePatronomic" autocomplete="off" pattern="[A-Za-zА-Яа-яЁё]+" title="Введите только буквы" />
        </div>

        <div>
            <textarea id="eDescription" name="EmployeeDescription" placeholder="Описание сотрудника" autocomplete="off" class="textAreaDescription" oninput="autoResize(this)">@Model.EmployeeDescription</textarea>
        </div>

        <div>
            <input type="text" id="eAddress" name="EmployeeAddress" placeholder="Адрес сотрудника" pattern="[A-Za-zА-Яа-яЁё]+" title="Введите только буквы" autocomplete="off" required min="1" value="@Model.EmployeeAddress"/>
        </div>
              
        <div>
            <input type="text" id="ePhone" name="EmployeePhone" placeholder="Телефон сотрудника" pattern="[0-9]+" title="Пример номера: 8999999999" required minlength="11" maxlength="11" autocomplete="off" value="@Model.EmployeePhone"/>
        </div>

        <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />

        <button type="submit">Сохранить</button>
    </div>
</form>

<script>
    function convertToBase64(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var base64String = e.target.result;
                // Проверка валидности строки Base64
                if (base64String.startsWith("data:image/") && base64String.includes("base64,")) {
                    document.getElementById('eImg').value = base64String;
                } else {
                    alert("Некорректное изображение.");
                }
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    function autoResize(textarea) {
        textarea.style.height = 'auto';
        textarea.style.height = (textarea.scrollHeight) + 'px';
    }

    // Инициализация высоты textarea при загрузке страницы
    document.addEventListener('DOMContentLoaded', function () {
        var textareas = document.querySelectorAll('textarea');
        textareas.forEach(function (textarea) {
            autoResize(textarea);
        });
    });
</script>