@{
    ViewData["Title"] = "EmployeeProfile";
}
@using Electrociti.ViewModels
@model Employee


<div class="profile-card">
    <img class="imgMaster" src="@Model.EmployeeImage" />
    <div class="text text-name">@Model.EmployeeName</div>
    <div class="text text-description">@Model.EmployeeDescription</div>
    <div class="text text-address">@Model.EmployeeAddress</div>
    <div class="text text-rate">@Model.EmployeeRate</div>
    <div class="text text-phone">@Model.EmployeePhone</div>
    <div class="containerButtonProfile">
        <form asp-controller="Home" asp-action="Logout" method="post">
        <button class="buttonExit" type="submit">Выход</button>
    </form>
        <form asp-controller="Home" asp-action="UpdateEmployeeProfile" method="get">
        <button class="buttonEdit" type="submit">Редактировать</button>
    </form>
    </div>
</div>
