@{
    ViewData["Title"] = "Index";
}
@using Electrociti.ViewModels
@model EmployeeServiceEmployeeServices


<div class="main">
    <div class="divFilters">
        <div class="filters">
            <h3 class="filterName">Фильтры</h3>
            <form action="/Home/Index" method="get">
                <input class="textSearch" type="text" name="searchString" placeholder="Поиск (улица, описание, услуги)" />
                <div>
                    <input class="textFilter" type="text" id="minCost" name="minCost" placeholder="от" />
                    <input class="textFilter" type="text" id="maxCost" name="maxCost" placeholder="до" />
                </div>
                <a class="textFilterA">Опыт работы исполнителя</a>
                <select class="comboboxFilterAge" id="combobox" name="experience">
                    <option value="1">Любой</option>
                    <option value="2">Менее 1 года</option>
                    <option value="3">2 года</option>
                    <option value="4">3 года и больше</option>
                </select>
                <a class="textFilterA">Исполнитель закупает материал</a>
                <input type="checkbox" value="true" name="byMaterial" />
                <label class="labelFilterA">Да</label>
                <a class="textFilterA">Рейтинг исполнителя</a>
                <input type="checkbox" id="rate" value="true" name="rate" />
                <label class="labelFilterA">4 и выше</label>
                <button class="buttonAccept" type="submit">Применить</button>
            </form>
        </div>
    </div>
    
    <div class="cards">
        @if (Model != null && Model.Employee != null && Model.Employee.Any())
        {
            @foreach (var employee in Model.Employee)
            {
                <form asp-action="Master" asp-controller="Home" method="get">
                    <input type="hidden" name="EmployeeId" value="@employee.EmployeeId" />
                    <div onclick="window.location.href='/Home/Master?EmployeeId=@employee.EmployeeId'" class="card">
                        <img class="imgMaster" src="@employee.EmployeeImage" />
                        <a class="textNameCard">@employee.EmployeeName</a>
                        <a class="textDescriptionCard">
                            @(employee.EmployeeDescription.Length > 250
                                ? employee.EmployeeDescription.Substring(0, 250) + "..."
                                : employee.EmployeeDescription)
                        </a>
                        <a class="textAddressCard">@employee.EmployeeAddress</a>
                        <img class="imgRate" src="~/img/icons8-star-96.png" />
                        <a class="textRateCard">@employee.EmployeeRate</a>
                        <a class="textPhone">@employee.EmployeePhone</a>
                        <div style="flex-direction:column;grid-column:2;grid-row:2">
                            @foreach (var service in Model.EmployeeServices
                           .Where(es => es.EmployeeId == employee.EmployeeId)
                           .Select(es => es.Service)
                           .Take(3))
                            {
                                <div class="divCostCard">
                                    <a class="textCostCard">@service.ServiceCost руб.</a>
                                </div>
                            }
                        </div>
                        <div style="flex-direction:column;grid-column:2;grid-row:2">
                            @foreach (var service in Model.EmployeeServices
                           .Where(es => es.EmployeeId == employee.EmployeeId)
                           .Select(es => es.Service)
                           .Take(3))
                            {
                                <div class="divCostCard">
                                    <a class="textNameSCard">@service.ServiceName</a>
                                </div>
                            }
                        </div>
                    </div>
                </form>
            }
        }
        else
        {
            <div style="background-color:#FFF;">
                <p style="color:#000; margin-left:20px;">По вашему запросу ничего не найдено</p>
            </div>
        }
        <div class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <a asp-action="Index" asp-route-pageNumber="@(Model.CurrentPage - 1)">Назад</a>
            }
            else
            {
                <a class="disabled">Назад</a>
            }
            <span>Страница @Model.CurrentPage из @Model.TotalPages</span>
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a asp-action="Index" asp-route-pageNumber="@(Model.CurrentPage + 1)">Вперед</a>
            }
            else
            {
                <a class="disabled">Вперед</a>
            }
        </div>
    </div>
        
</div>
