@using Electrociti.ViewModels
@model EmployeeServiceEmployeeServices


<div class="main">
    <div class="profile-card">
        @foreach (var empl in Model.Employee)
        {
            <img class="imgMaster" src="@empl.EmployeeImage" />
            <div class="text text-name">@empl.EmployeeName</div>
            <div class="text text-description">@empl.EmployeeDescription</div>
            <div class="text text-address">@empl.EmployeeAddress</div>
            <div class="text text-rate">@empl.EmployeeRate</div>
            <div class="text text-phone">@empl.EmployeePhone</div>

            @foreach (var serv in Model.Services)
            {
                <div class="">@serv.ServiceName         @serv.ServiceCost</div>
            }
        }
    </div>
</div>
